* {
  font-family: "Funnel Sans", serif;
  font-size: 1rem;
}

p, h1 {  
  font-family: "Playwrite VN", serif;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
}

#logo {
  font-weight: 600;
  font-size: 1.2rem;
  border: 2px solid black;
  display: inline;
  padding: 5px;
}

ul {
  display: flex;
  list-style: none;
  padding-left: 0;
}

li {
  margin-left: 3rem;
}

a {
  color: black;
}

.headers-main-page {
  font-size: 1.2rem;
}

@media screen and (max-width: 550px) {
  header, ul {
    flex-direction: column;
    align-items: start;
  }
  
  ul {
    margin-top: 0;
  }

  li {
    margin-left: 0;
  }
}

/*MAIN*/

.about-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-img {
  width: 30%;
}

.main-text {
  font-family: "Funnel Sans", serif;
  font-size: 1rem;
  text-align: justify;
  padding-right: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

/*CATEGORY SECTION*/

figure {
  margin-left: 0;
}

.project-pictures {
  width: 70%;
}

@media screen and (min-width: 550px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 750px) {
  .category-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .about-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-img {
    width: 50%;
  }

  .main-text {
    padding-right: 0;
  }
}

/*FORM*/
form {
  font-family: "Funnel Sans", serif;
  font-size: 1rem;
}

/*FOOTER*/
footer {
  margin-top: 2rem;
  border-top: 2px solid black;
}

/*INDIVIDUAL PAGES*/
.individual-pictures {
  width: 30%;
}

.individual-pages-text {
  font-family: "Funnel Sans", serif;
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.individual-pages {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media screen and (max-width: 550px) {
  .individual-pages {
    flex-direction: column;
    align-items: flex-start;
  }

  .individual-pages-text {
    font-family: "Funnel Sans", serif;
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}